@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Styling for Index Page */

/* Heading Styling */ 

h1 {
    text-align: center;
    font-size: 200%;
}

/* Hero-Image Styling */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/pitch.jpg) no-repeat center center;
    background-size: cover;
    
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*zoom for hero images */ 

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.container-username {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
    padding: 10px;
    justify-content: space-around;
}
#username {
    border-radius: 4px;
}

#message {
    border-radius: 4px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: red;
}

.container-play-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.btn {
    font-size: larger;
    padding: 2rem 0;
    width: 25rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background: black;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1.5rem 0 green;
    transition: transform 150ms;
    transform: scale(1.04);
}

/*Quiz Area */

#main-container {
    background-color: darkcyan;
    padding: 25px;
}

.main-container-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.hidden {
    display: none;
}

#question-area {
text-align: center;
padding: 0;
} 

#question-num {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#answer-area{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
}

.answer-btn {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.next-button-style {
    display: flex;
    justify-content: center;
}

.score-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px;

}

#quiz-end {
    align-items: center;
}




/* Answer Styling */

.wrong-answer {
    background-color: red;
}

.correct-answer {
    background-color: green;
}

/* Footer Styling */ 

footer {
    background-color: #3a3a3a;
}
footer a {
    color: #fff;
    margin-top: auto;
}

footer a:hover {
    color: black;
}

.social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3a3a3a;
    justify-content: center;
}

.social-networks ul {
    display: flex;
    align-items: center;
}

.social-networks li {
    font-size: 160%;
    padding: 10px;
    color: #fff;
    list-style-type: none;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width:1200px) {

    #main-container {
        max-width: 100%;
        
    }
}

/* Medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
       
    #hero-image {
        max-height: 300px;
       }
    }
