@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
}

/* Styling for Index Page */

/* Heading Styling */ 

h1 {
    text-align: center;
    font-size: 250%;
}

/* Hero-Image Styling */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/pitch.jpg) no-repeat center center;
    background-size: cover;
    
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*zoom for hero images */ 

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.container-username {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
    padding: 10px;
    justify-content: space-around;
}
#username {
    border-radius: 4px;
}

.container-play-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.btn {
    font-size: larger;
    padding: 2rem 0;
    width: 25rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    background: black;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1.5rem 0 green;
    transition: transform 150ms;
    transform: scale(1.04);
}



/* Footer Styling */ 

footer {
    width: 100%;
    bottom: 0;
    position:absolute;
    background-color: #3a3a3a;
    margin: 0;
    padding: 0;
}
footer a {
    color: #fff;
    margin-top: auto;
}

footer a:hover {
    color: black;
}

.social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3a3a3a;
    justify-content: center;
}

.social-networks ul {
    display: flex;
    align-items: center;
}

.social-networks li {
    font-size: 160%;
    padding: 10px;
    color: #fff;
    list-style-type: none;
}